.nav{
    position:fixed;
    top:0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;

    transition-timing-function: ease-in;
    transition: all 0.6s;

   
}
.nav_black{
    background-color: #111;
}

.nav_logo{
    position:fixed;
    left: 20px;
    width: 90px;
    object-fit: contain;
}

.nav_avatar{
    position: fixed;
    right: 20px;
    width: 35px;
    object-fit: contain;
}

